.sidebar{
  max-height: 100px;
  max-width: 100%;
  background-color:white;
  display: flex;
}

ul{
  list-style: none;
  text-decoration: none;
}

.links{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}